<!-- About me -->
<section class="bg-color-light-dark">
  <div class="container">
    <div class="span-title">About Me</div>
    <h2>About Me</h2>
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-md-12 mb-4">
        <%= image_tag "about.jpeg", class: "img-fluid rounded" %>
      </div>
      <div class="col-lg-7 col-md-12">
        <h3 class="mb-3">I'm ProgTer Club</h3>
        <h4>Full Stack Ruby on Rails Developer based in Ternopil</h4>
        <p class="mb-5">I design and develop services for customers specializing creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through meaningful interactions. Check out my Portfolio</p>
        
        <hr>

        <h4 class="mt-5 mb-4">Personal Info</h4>

        <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
          <div class="col">
            <p>Name: <strong>ProgTer Club</strong></p>
            <p>Address: <strong>Ukraine, Ternopil</strong></p>
            <p>Age: <strong>30</strong></p>
          </div>

          <div class="col">
            <p>Phone: <strong><a href="tel:+380961011010" target="_blanc">+38(096)-101-10-10</a></strong></p>
            <p>Email: <strong><a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a></strong></p>
            <p>Languages: <strong>Ukraine, English</strong></p>
          </div>

        </div>

        <a href="#" class="btn btn-lg btn-outline-danger fw-bold">Download CV</a>

      </div>
    </div>
  </div>
</section>