<% content_for(:page_title, "Home page") %>

<!-- Home -->
<header class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="mb-4"><span>Hello, I’m</span> Kristina</h1>
        <p class="lead">Full Stack Ruby on Rails Developer</p>
        <p class="mb-5">I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores.</p>
        <a href="#portfolio" class="btn btn-lg btn-outline-danger fw-bold px-4 mb-5">See Portfolio</a>
      </div>
    </div>
  </div>
</header>