<!-- Portfolio -->
<section class="bg-color-light-dark">
  <div class="container">
    <div class="span-title" id="portfolio">Portfolio</div>
    <h2>My Portfolio</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="portfolio-card h-100">
          <%= image_tag "portfolio.jpg", class: "card-img" %>
          <div class="card-body">
            <h4>Site description...</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="portfolio-card h-100">
          <%= image_tag "portfolio.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4>Site description...</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="portfolio-card h-100">
          <%= image_tag "portfolio.jpg", class: "card-img" %>
          <div class="card-body">
            <h4>Site description...</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="portfolio-card h-100">
          <%= image_tag "portfolio.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4>Site description...</h4>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>